<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="{{ .Site.Params.description }}"/>
	<link type="text/css" rel="stylesheet" href="{{ "/css/style.css" | relURL }}"/>
	<link type="text/css" rel="stylesheet" href="{{ "/css/syntax.css" | relURL }}"/>

	<title>
		{{ block "title" . }}
			{{ .Site.Title }}
		{{ end }}
	</title>
</head>
