<div class="site-title">
	<div id="header-main">
		<a href="{{ .Site.BaseURL }}"><h1>Elijah Love</h1></a>
		<nav>
			<ul class="menu">
				{{ $currentPage := . }}
				{{ range .Site.Menus.main }}
				<li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{end}}">
					<a href="{{ .URL }}">{{ .Name }}</a>
				</li>
				{{ end }}
			</ul>
		<nav>
	</div>

	<div id="contactDetails">
		<ul>
			<li><a href="mailto:me@elijahlove.xyz" target="_blank">email</a></li>
			<li><a href="https://gitlab.com/elijahdl">gitlab</a></li>
			<li><a href="https://linkedin.com/in/elijahlove">linkedin</a></li>
		</ul>
	</div>
	<div class="clear"></div>
</div>
