{{ define "main" }}
	<div class="resume">
		<div id="mainArea" >
<!--	
			<section>
				<article>
					<div class="sectionTitle">
						<h1>Personal Profile</h1>
					</div>
					
					<div class="sectionContent">
						<p></p>
					</div>
				</article>
				<div class="clear"></div>
			</section>
-->
			
			<section>
				<div class="sectionTitle">
					<h1>Education</h1>
				</div>
				
				<div class="sectionContent">
					<article>
						<p class="subDetails">December 2019</p>
						<h2 class="detailTitle">Bachelor of Science in Computer Networking and Cybersecurity</h2>
						<h3 class="detailCompany">Champlain College, Burlington, VT</h3>
						<p><em class="footnote">Designated as a Center of Academic Excellence in Cyber Defense Education by the National Security Agency</em></p>
					</article>
				</div>
				<div class="clear"></div>
			</section>

			<section>
				<div class="sectionTitle">
					<h1>Certifications</h1>
				</div>
				
				<div class="sectionContent">
					<article>
						<p class="subDetails">December 2019</p>
						<h2 class="detailTitle">Linux Foundation Certified System Administrator</h2>
						<h3 class="detailCompany">The Linux Foundation</h3>
						<p><em class="footnote"><a href="https://www.youracclaim.com/badges/ffc79be9-09f7-4c31-b1f6-65730679dfbe/public_url">ID: LFCS-1900-002611-0100</a></em></p>
					</article>
				</div>
				<div class="clear"></div>
			</section>
			
			<section>
				<div class="sectionTitle">
					<h1>Relevant Coursework</h1>
				</div>
				
				<div class="sectionContent">
					<ul class="relevantCoursework">
						<li>System Administration I &amp; II</li>
						<li>Systems Security</li>
						<li>Cloud Administration &amp; Deployment</li>
						<li>TCP/IP</li>
						<li>Technical Writing</li>
						<li>Communications Telecoms</li>
						<li>Network Design</li>
						<li>Systems Software</li>
						<li>Enterprise &amp; Perimeter Security</li>
						<li>Computer &amp; Network Security</li>
					</ul>
				</div>
				<div class="clear"></div>
			</section>

			<section>
				<div class="sectionTitle">
					<h1>Key Skills</h1>
				</div>
				
				<div class="sectionContent">
					<ul class="keySkills">
						<li>Network Administration</li>
						<li>Information Security</li>
						<li>Linux System Administration</li>
						<li>bash</li>
						<li>TCP/IP</li>
						<li>Active Directory &amp; LDAP</li>
						<li>Debian/Ubuntu</li>
						<li>CentOS</li>
						<li>Virtualization</li>
						<li>Customer Support</li>
						<li>Docker</li>
						<li>Software Troubleshooting</li>
						<li>VMware</li>
						<li>Cloud Services</li>
						<li>Computer Hardware Assembly</li>
						<li>Network Troubleshooting</li>
						<li>Router Configuration</li>
						<li>Vim</li>
						<li>Logical Volume Management</li>
						<li>Hardware Installation</li>
						<li>Windows </li>
						<li>PowerShell</li>
						<li>MySQL</li>
						<li>HTML5/CSS</li>
						<li>macOS</li>
						<li>Google Apps</li>
						<li>OpenVPN</li>
						<li>Wireshark</li>
						<li>git</li>
						<li>Azure</li>
						<li>Nmap</li>
						<li>GPG</li>
						<li>Microsoft Office</li>
						<li>Java</li>
						<li>Trello</li>
						<li>nmap</li>
						<li>Python</li>
						<li>JavaScript</li>
					</ul>
				</div>
				<div class="clear"></div>
			</section>

			
			<section>
				<div class="sectionTitle">
					<h1>Experience</h1>
				</div>
				
				<div class="sectionContent">
					<article>
						<p class="subDetails">Aug 2019 &ndash; Dec 2019</p>
						<h2 class="detailTitle">Systems Administrator</h2>
						<h3 class="detailCompany">Leahy Center for Digital Investigation at Champlain College</h3>
						<p><ul>
							<li>Troubleshot and resolved organization-wide network issues</li>
							<li>Wrote documentation for proper configuration and maintenance of various services used by staff</li>
						</ul></p>
					</article>

					<article>
						<p class="subDetails">Dec 2018 &ndash; Oct 2019</p>
						<h2 class="detailTitle">IT Intern</h2>
						<h3 class="detailCompany">Downs Rachlin Martin</h3>

						<p><ul>
							<li>Imaged and set up computers for new and existing employees</li>
							<li>Replaced broken parts in laptops and laser printers</li>
							<li>Wrote PowerShell scripts to convert files output by a monitoring application into usable CSVs</li>
						</ul></p>
						
					</article>

					<article>
						<p class="subDetails">Jan 2019 &ndash; May 2019</p>
						<h2 class="detailTitle">Network Administrator</h2>
						<h3 class="detailCompany">Leahy Center for Digital Investigation at Champlain College</h3>
						<p><ul>
							<li>Configured a secrets management application for netadmin team use, including LDAP configuration</li>
							<li>Troubleshot and resolved issues with our ticketing system</li>
						</ul></p>
					</article>

					<article>
						<p class="subDetails">Sep 2018 &ndash; Nov 2018</p>
						<h2 class="detailTitle">Helpdesk Technician</h2>
						<h3 class="detailCompany">Leahy Center for Digital Investigation at Champlain College</h3>

						<p><ul>
							<li>Wrote PowerShell scripts to automate tasks on Windows</li>
							<li>Created detailed tutorials and documentation on helpdesk related tasks</li>
							<li>Managed a lab of 30 computers with Active Directory</li>
						</ul></p>
						
					</article>
					
					
				</div>
				<div class="clear"></div>
			</section>
			
			
			<section>
				<div class="sectionTitle">
					<h1>Activities</h1>
				</div>
				
				<div class="sectionContent">
					<article>
						<p class="subDetails">Jan 2016 &ndash; May 2018</p>
						<h2 class="detailTitle">President</h2>
						<h3 class="detailCompany">Free and Open Tech Club, Champlain College</h3>

						<p><ul>
							<li>Allocated funding to the acquisition of amateur radio equipment</li>
							<li>Taught the philosophy of Libre and Open Source technology to students and faculty</li>
							<li>Restored old and faulty hardware to working condition</li>
						</ul></p>
					</article>
				</div>
				<div class="clear"></div>
			</section>
		</div>
	</div>
{{ end }}
