{{ define "title" }}
	{{ .Site.Title }} &ndash; Blog
{{ end }}

{{ define "main" }}
	<div class="article-list">
	{{ range .Pages }}
		<article class="blog-entry">
			<a href="{{ .RelPermalink }}">
				<h2>{{ .Title }}</h2>
			</a>
			<div class="description">
				{{ .Date.Format "2006-01-02" }} &ndash; {{ .Description }}
			</div>
		</article>
	{{ end }}
	</div>
{{ end }}
