{{ define "main" }}

<div class="article-meta">
	<h1 class="title">{{ .Title | markdownify }}</h1>
	<p class="description">{{ .Date.Format "2006-01-02" }} &ndash; {{ .Description }}</p>
</div>

<main>
	{{ .Content }}
</main>

{{ end }}
