:root {
	--main-bg-color: #111;
	--main-txt-color: #BBB;
	--accent-txt-color: #777;
	--content-box-color: #222;
	--link-color: slateblue;
	--accent-color: slateblue;
}

body {
  max-width: 1000px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  font-family: sans-serif;
}


/* Text Styling */

a {
	color: var(--link-color);
	text-decoration: none;
}

/* Header and Footer Areas */

.site-title {
  text-decoration: none;
  background: var(--content-box-color);
  padding:  15px 20px;
  margin: 10px 10px 20px;
  font-style: normal;
  font-size: 1.5em;
  border-radius: 5px;
}

#header-main {
	float: left;
}

#contactDetails {
	float: right;
	position: relative;
	top: 8px;
	right: 20px;
}

#contactDetails ul li {
	display: block;
	font-size: 0.8em;
	text-align: right;
}

.site-title a h1 {
	color: var(--main-txt-color);
}

.menu {
	padding: 0px 5px;
}

.menu li {
	display: inline-block;
	padding: 0px 15px 0px 0px;
}

.menu li a {
	color: var(--link-color);
}

.menu .active a {
	color: var(--main-txt-color);
}

#content {
	/*padding: 15px 15px 30px 15px;*/
	width: 95%;
	margin: auto;

}

.article-list {
	background: var(--content-box-color);
	padding: 15px;
	border-radius: 5px;
}

#content article {
	padding: 1px 5px 10px 10px;
}

#content .article-list h2 {
	padding: 15px 0px 5px 0px;
	margin: 0px 0px 0px 0px;
}

.article-meta {
  text-decoration: none;
  padding: 15px 0px 10px 0px;
}

.article-meta .title {
	margin: 0px 0px 10px 0px;
}

.article-meta .description {
	color: var(--accent-txt-color);
}

/* code */

pre {
  padding: 1em;
  overflow-x: auto;
  background: var(--content-box-color);
  border-left: 5px solid var(--accent-color);
}
code { background: var(--content-box-color); }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: var(--content-box-color);
  border-left: 5px solid var(--accent-color);
  padding: 3px 1em 3px;
}

table {
  margin: auto;
}
table thead th { 
	border-bottom: 2px solid var(--accent-color);
	font-style: normal;
}
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: var(--content-box-color); }

footer {
	text-align: center;
	margin: 30px 0px 0px 0px;
}

.resume {
	background: var(--content-box-color);
	border-radius: 5px;
	padding: 0 15px 0;
}

.resume article,aside,details {
	display block;
}

.clear {
	clear: both;
}

section {
	border-top: 1px solid var(--accent-color);
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.sectionTitle {
	float: left;
	width: 24%;
	text-align: right;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.resume .sectionTitle h1 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	color: var(--accent-text-color);
}

.sectionContent h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
}

.sectionContent article h3 {
	margin-bottom: -15px;
}

.sectionContent article .footnote {
	font-size: 0.8em;
	line-height: 0.6em;
	padding-right: 150px;
}

h2.detailTitle {
	padding-top: 0px;
	margin-top: 5px;
}

h3.detailCompany {
	padding-top: 0px;
	margin-top: 7px;
}

.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 0px;
}

.keySkills {
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
}

.relevantCoursework {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
}

.keySkills,.relevantCoursework {
	margin-bottom: 20px;
	font-size: 1em;
	color: var(--main-text-color);
}

.keySkills ul li {
	margin-bottom: 3px;
}

.relevantCoursework ul li {
	margin-bottom: 3px;
}

@media all and (min-width: 602px) and (max-width: 800px) {
	.keySkills {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
	}
}

@media all and (max-width: 601px) {
	#cv {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}
	
	
	#header-main {
		float: none;
		width: 100%;
		text-align: center;
	}

	#contactDetails {
		float: none;
		width: 100%;
		text-align: center;
		max-width: 50px;
		top: 0;
		display: inline;
	}

	#contactDetails ul li {
		text-align: center;
		display: inline-block;
		padding: 0 5px;
	}
	
	.sectionTitle, .sectionContent {
		float: none;
		width: 100%;
	}
	
	.sectionTitle {
		margin-left: -2px;
		font-size: 1.25em;
		text-align: center;
	}

	.sectionTitle h1 {
		margin-bottom: 5px;
	}
	
	.sectionContent article .footnote {
		font-size: 0.8em;
		line-height: 0.6em;
		padding-right: 0px;
	}
	.keySkills {
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
	}

	.relevantCoursework {
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
	}
	
	.site-title {
		text-align: center;
	}
}

@media all and (max-width: 480px) {
	.mainDetails {
		padding: 15px 15px;
	}
	
	.resume {
		padding: 0 0 0;
	}
	section {
		padding: 15px 0 0;
	}
	
	#mainArea {
	}

	.keySkills {
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
	}
	
	#header-main h1 {
		line-height: .8em;
		margin-bottom: 4px;
	}
}

@media print {
    #cv {
        width: 100%;
    }
}
